test/
test.md
test.py
*test*.ipynb
examples/
.rnalib_cache/
__pycache__/
*.pyc

todo.md
backup
lib
tools

*.egg-info

# --hiding all labs from future commits in order not to update whats submitted
lab1
lab2
lab3
lab4