biopython   # -- Bio.PDB for PDB api
requests    # -- requests for HTTP api (rfam rest api)
plotly      # -- interactive plots
pandas      # -- dataframes (tests)
numpy       # -- numerical operations
matplotlib  # -- plotting
IPython     # -- file display
networkx    # -- graph viz
pyvis       # -- interactive graph viz
graphviz    # -- pipeline graphviz
#ViennaRNA   # -- RNA 2ary structure test
#draw_rna    # -- RNA 2ary structure viz test
